<div class="frame-image" id="section-1">
  <h1 class="welcome-header animated-title">Ласкаво просимо</h1>
</div>

<div class="section"  id="section-2">
  <p class="welcome-text animated-title">Ми пропонуємо вам не просто послуги краси,
    але й унікальний досвід, який змінить ваше уявлення про красу. Наша команда
    професіоналів з високим рівнем майстерності та пристрастю до своєї роботи готова
    втілити в життя ваші найсміливіші бажання. Ми використовуємо тільки найкращі
    продукти та передові технології, щоб забезпечити вам бездоганний результат.
    Ми прагнемо створити атмосферу розслаблення та комфорту, де кожен клієнт
    може відчути себе особливим.</p>
</div>

<div class="frame-white" id="section-3">
  <div class="tree-container">-->
        <ul class="tree close">
          <li class="tree-head">
            <i class="bx bx-chevron-right chevrn-r"></i>
            <i class="bx bx-chevron-down chevrn-d collapse"></i>
            <span class="head-label">Head1</span>
          </li>
          <li class="tree-item">Item1_1</li>
          <li class="tree-item">Item1_2</li>
          <li class="tree-item">Item1_3</li>
          <li class="tree-item">Item1_4</li>
          <li class="tree-item">Item1_5</li>
        </ul>
        <ul class="tree close">
          <li class="tree-head">
            <i class="bx bx-chevron-right chevrn-r"></i>
            <i class="bx bx-chevron-down chevrn-d collapse"></i>
            <span class="head-label">Head2</span>
          </li>
          <li class="tree-item">Item2_1</li>
          <li class="tree-item">Item2_2</li>
          <li class="tree-item">Item2_3</li>
          <li class="tree-item">Item2_4</li>
          <li class="tree-item">Item2_5</li>
        </ul>
        <ul class="tree close">
          <li class="tree-head">
            <i class="bx bx-chevron-right chevrn-r"></i>
            <i class="bx bx-chevron-down chevrn-d collapse"></i>
            <span class="head-label">Head3</span>
          </li>
          <li class="tree-item">Item2_1</li>
          <li class="tree-item">Item2_2</li>
          <li class="tree-item">Item2_3</li>
          <li class="tree-item">Item2_4</li>
          <li class="tree-item">Item2_5</li>
        </ul>
      </div>
  <app-button type="fill" theme="light" href="/services" value="Детальніше"/>
</div>


<!--<div class="section" id="section-2">-->
<!--  <div class="tree-container">-->
<!--    <ul class="tree close">-->
<!--      <li class="tree-head">-->
<!--        <i class="bx bx-chevron-right chevrn-r"></i>-->
<!--        <i class="bx bx-chevron-down chevrn-d collapse"></i>-->
<!--        <span class="head-label">Head1</span>-->
<!--      </li>-->
<!--      <li class="tree-item">Item1_1</li>-->
<!--      <li class="tree-item">Item1_2</li>-->
<!--      <li class="tree-item">Item1_3</li>-->
<!--      <li class="tree-item">Item1_4</li>-->
<!--      <li class="tree-item">Item1_5</li>-->
<!--    </ul>-->
<!--    <ul class="tree close">-->
<!--      <li class="tree-head">-->
<!--        <i class="bx bx-chevron-right chevrn-r"></i>-->
<!--        <i class="bx bx-chevron-down chevrn-d collapse"></i>-->
<!--        <span class="head-label">Head2</span>-->
<!--      </li>-->
<!--      <li class="tree-item">Item2_1</li>-->
<!--      <li class="tree-item">Item2_2</li>-->
<!--      <li class="tree-item">Item2_3</li>-->
<!--      <li class="tree-item">Item2_4</li>-->
<!--      <li class="tree-item">Item2_5</li>-->
<!--    </ul>-->
<!--    <ul class="tree close">-->
<!--      <li class="tree-head">-->
<!--        <i class="bx bx-chevron-right chevrn-r"></i>-->
<!--        <i class="bx bx-chevron-down chevrn-d collapse"></i>-->
<!--        <span class="head-label">Head3</span>-->
<!--      </li>-->
<!--      <li class="tree-item">Item2_1</li>-->
<!--      <li class="tree-item">Item2_2</li>-->
<!--      <li class="tree-item">Item2_3</li>-->
<!--      <li class="tree-item">Item2_4</li>-->
<!--      <li class="tree-item">Item2_5</li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <app-button type="fill" theme="dark" href="/services" value="Детальніше"/>-->
<!--</div>-->


