<div class="section" id="section-1">
  <div class="frame-image">
    <h1 class="welcome-header animated-title">Ласкаво просимо</h1>
  </div>
</div>


<div class="section"  id="section-2">
  <p class="welcome-text animated-title">Ми пропонуємо вам не просто послуги краси,
    але й унікальний досвід, який змінить ваше уявлення про красу. Наша команда
    професіоналів з високим рівнем майстерності та пристрастю до своєї роботи готова
    втілити в життя ваші найсміливіші бажання. Ми використовуємо тільки найкращі
    продукти та передові технології, щоб забезпечити вам бездоганний результат.
    Ми прагнемо створити атмосферу розслаблення та комфорту, де кожен клієнт
    може відчути себе особливим.</p>
</div>

<div class="section" id="section-3">
  <div>
    <h1 class="section-title">Послуги</h1>
  </div>
  <div class="content-container">
    <div class="section-content">
      <h1 *ngIf="!hasContent()" style="font-size: 16px">Послуг немає</h1>
      <div class="section3-item" *ngFor="let s of getRootCategories()">
        <p class="section-label">{{s}}</p>
      </div>
    </div>
  </div>
  <div class="section-actions">
    <app-button type="fill" theme="dark" href="/services" value="Детальніше"/>
  </div>
</div>
