<div class="section" id="section-1">
  <div class="frame-image">
    <h1 class="welcome-header animated-title">Ласкаво просимо</h1>
  </div>
</div>


<div class="section"  id="section-2">
  <p class="welcome-text animated-title">Ласкаво просимо до нашого салону краси — місця, де гармонія душі та тіла стає реальністю. Ми створили цей простір з любов'ю та турботою, щоб ви могли відчути себе особливими та неповторними.</p>
</div>

<div class="section" id="section-3">
  <div>
    <h1 class="section-title">Послуги</h1>
  </div>
  <div class="content-container">
    <div class="section-content">
      <h1 *ngIf="!hasContent()" style="font-size: 16px">Послуг немає</h1>
      <div class="section3-item" *ngFor="let s of getRootCategories()">
        <p class="section-label">{{s}}</p>
      </div>
    </div>
  </div>
  <div class="section-actions">
    <app-button type="fill" theme="dark" href="/services" value="Детальніше"/>
  </div>
</div>
