main {
  overflow-y: scroll;
}

.frame-image {
  background-image: url("/assets/home-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

#section-1 {
  padding: 0;
}

#section-2 {
  display: flex;
  flex-direction: column;
}

#section-3 {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  justify-content: space-between;
  height: 97vh;
  padding: 30px;
  gap: 10px;
}

.section-top {
  width: 100%;
  height: 100%;
}

.section-box {
  width: 100%;
}

.section-label {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--sidebar-color);
}

.section-text {
  text-align: center;
}

.section-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  height: auto;
  width: 100%;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.section-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.section3-item {
  height: 20px;
  background-color: var(--primary-color);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 100%;
}

.section-actions {
  display: flex;
  justify-content: center;
  width: 100%;
}

.welcome-header {
  font-size: 56px;
  color: var(--sidebar-color);
}

.welcome-text {
  font-size: 22px;
  line-height: 30px;
  color: var(--text-color);
  font-weight: 600;
}

.items {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  border: 2px solid black;
  padding: 15px 0;
  align-items: flex-start;
  height: 40vh;
}

.item {
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  background-color: var(--sidebar-color);
  text-align: center;
}

.item-content {
  display: inline;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  text-wrap: inherit;
  min-width: 800px;
  max-width: 1000px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-title {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 1s ease-in-out;
  animation-fill-mode: forwards;
}

.animated-title:nth-child(1) {
  animation-delay: 0.5s;
}

.animated-title:nth-child(2) {
  animation-delay: 1.5s;
}

.animated-title {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.visible .animated-title {
  opacity: 1;
  transform: translateY(0);
}

/*.service-container {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  padding: 0;*/
/*  display: flex;*/
/*  justify-content: flex-start;*/
/*}*/

.frame-white {
  padding: 35px;
}



.chevrn-r,
.chevrn-d {
  font-size: 30px;
  line-height: 0.5;
}

.collapse {
  display: none;
}

