:host {
  position: fixed;
  left: calc(50% - 250px);
  top: 5%;
  z-index: 1;
}

:host::before {
  content: "";
  position: fixed;
  left:0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
}

.dialog {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  gap: 10px;
}

.dialog-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  font-weight: 700;
}

.form-input {
  padding: 10px;
  width: 100%;
  border: 1px solid;
  border-radius: 15px;
  font-size: 16px;
}

textarea.form-input {
  box-sizing: border-box;
  overflow-y: hidden;
  resize: none;
  width: auto;
  height: 250px;
}

.dialog .dialog-part:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-text-title {
  font-size: 25px;
  font-weight: 700;
}

.dialog-text-desc {
  font-size: 18px;
  font-weight: 300;
}

.dialog-text-label {
  font-size: 18px;
  font-weight: 600;
}
