:host {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.tree {
  height: 100%;
}

.tree-sub {
  margin-left: 20px;
}

.tree-content {
  display: flex;
  flex-direction: column;
}

.node {

}
