<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Записи</title>
<!--    <div th:replace="fragments/styles"></div>-->
<!--    <link rel="stylesheet" type="text/css" href="/css/style.css">-->
</head>
<body layout:fragment="body">
<!--    <div th:replace="fragments/sidebar::sidebar"></div>-->
    <main class="w-100">
        <div class="d-flex justify-content-between">
            <h1>Записи</h1>
        </div>
        <div class="items-container w-100 mt-2 d-flex flex-column gap-2" style="min-height: 100vh">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Клієнт</th>
                    <th scope="col">Майстер</th>
                    <th scope="col">Послуги</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Дата запису</th>
                </tr>
                </thead>
                <tbody>
                <tr class="item item-service item-dropdown" th:each="appointment : ${appointments}">
                    <th scope="row" th:text="${appointment.getId()}"></th>
                    <td th:text="${appointment.getClient().getEmail()}"></td>
                    <td th:text="${appointment.getMaster().getUsername()}"></td>
                    <td th:text="${appointment.getServicesLine()}"></td>
                    <td th:text="${appointment.getStatus()}"></td>
                    <td th:text="${appointment.getAppointmentDate('dd.MM.yyyy hh:mm')}"></td>
                    <ul class="dropdown-menu position-absolute d-none gap-1 p-2 rounded-3 mx-0 border-0 shadow w-220px" data-bs-theme="dark">
                        <li><a class="dropdown-item rounded-2 btn-edit" href="#" th:method="put">Редагувати</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item rounded-2 btn-delete" href="#" th:method="delete">Видалити</a></li>
                    </ul>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
    <div th:replace="fragments/scripts"></div>
</body>
</html>