<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Свторити користувача</title>
</head>
<body layout:fragment="body">
    <main class="w-100">
        <form th:action="@{/panel/employees/create}" method="post" style="margin: 0 auto; width: 500px;">
           <input type="hidden" th:field="${employee.id}" name="id">
           <div class="form-group">
               <label for="floatingUsername">Ім'я користувача</label>
               <input th:field="${employee.username}" type="text" class="form-control rounded-3" id="floatingUsername" name="username">
           </div>
           <div class="form-group">
               <label for="password">Пароль</label>
               <input th:field="${employee.password}" type="password" class="form-control rounded-3" name="password" id="password">
           </div>
            <div class="form-group">
                <label for="firstName">Ім'я</label>
                <input th:field="${employee.firstName}" type="text" class="form-control rounded-3" name="firstName" id="firstName">
            </div>
            <div class="form-group">
                <label for="surName">По-батькові</label>
                <input th:field="${employee.surName}" type="text" class="form-control rounded-3" name="surName" id="surName">
            </div>
            <div class="form-group">
                <label for="lastName">Прізвище</label>
                <input th:field="${employee.lastName}" type="text" class="form-control rounded-3" name="lastName" id="lastName">
            </div>
            <div class="form-group">
                <label for="position">Посада</label>
                <select th:field="${employee.position}" name="position" id="position">
                    <option value="MASTER">Майстер</option>
                    <option value="ADMINISTRATOR">Адміністратор</option>
                </select>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input th:field="${employee.email}" type="email" class="form-control rounded-3" name="email" id="email">
            </div>
            <div class="form-group">
                <label for="phoneNumber">Номер телефону</label>
                <input th:field="${employee.phoneNumber}" type="text" class="form-control rounded-3" name="phoneNumber" id="phoneNumber">
            </div>
            <div class="form-group">
                <label for="phoneNumber">Номер телефону</label>
                <select th:field="${employee.workSchedules}" name="workSchedules" id="workSchedules" multiple>
                    <option th:each="wsh : ${employee.getWorkSchedules()}" th:value="" th:text="${wsh.shortString()}dev"></option>
                </select>
            </div>
           <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Створити</button>
       </form>
    </main>
</body>
</html>