<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Зображення</title>
<!--    <div th:replace="fragments/styles"></div>-->
<!--    <link rel="stylesheet" type="text/css" href="/css/style.css">-->
</head>
<body layout:fragment="body">
<!--<div th:replace="fragments/sidebar::sidebar"></div>-->
    <main>
        <h1>Зображення</h1>
    </main>
<!--    <div th:replace="fragments/scripts"></div>-->
</body>
</html>